fastapi
uvicorn[standard]
sqlmodel
sqlalchemy
pandas
yfinance
alpha_vantage
langchain
langchain-community
groq
langchain-text-splitters
faiss-cpu
python-dotenv
sentence-transformers
pydantic-settings
requests
